.container {
  background: white;
  border: 1px solid black;
  height: 400px;
  margin: 1em;
  padding: 0;
  position: relative;
  width: 300px;
}

.image {
  height: 400px;
  margin: 0;
  position: absolute;
  width: 300px;
  z-index: 1;
}

.text {
  color: white;
  font-family: Impact, sans-serif;
  font-size: 30px;
  margin-top: 300px;
  position: absolute;
  text-align: center;
  text-shadow: 5px 5px 5px black;
  width: 100%;
  z-index: 2;
}

.thumbnail {
  height: 80px;
}

.fire {
  background-color: rgb(255, 0, 0);
}

.water {
  background-color: rgb(0, 0, 255);
}

.earth {
  background-color: rgb(0, 128, 0);
}