#meme-image-container{
    position: relative;
    width: 600px;
    height: 500px;
    border: 1px solid rgb(0,0,0);
    background-color: rgb(255,255,255);
}
#meme-image{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(0,0,0);
}
#meme-text{
    position: absolute;
    right: 0px;
    background-color: white;
    color: rgb(255,255,255);
    border: 1px solid black;
    text-shadow: rgb(0,0,0) 5px 5px 5px;
    font-size: 30px;
}
#text-input{
    position: absolute;
    text-align: center;
    text-decoration-color: white;
}
#fire{
    background-color: rgb(255, 0, 0);
}
#water{
    background-color: rgb(0, 0, 255);
}
#earth{
    background-color: rgb(0, 128, 0)
}