* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

#memeGeneratorBlock {
  background-color: white;
  border: 1px solid black;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
}

#memeGeneratorBlock div {
  margin: 8px 15px;
}

#meme-image-container {
  background-color: coral;
  height: 80%;
  width: 80%;
  max-width: 500px;
  max-height: 500px;
  position: relative;
  border: 1px solid blueviolet;
  border-radius: 5px;
}

#meme-image-container img {
  height: 100%;
  width: 100%;
}

#meme-image-container div {
  bottom: 20px;
  position: absolute;
  margin: 0;
  padding: 0;
}

#meme-text {
  font-size: 30px;
  color: white;
  text-shadow: 5px 5px 5px black;
}
