.meme-image-container {
    height: 400px;
    width: 400px;
    background-color: white;
    margin-top: 15px;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    position: relative;
}
.meme-image {
    object-fit: cover;
    height: 400px;
    width: 400px;
    background-color: white;
}
.meme-text {
    text-shadow: 5px 5px 5px black;
    text-align: center;
    word-wrap: break-word;
    width: 100%;
    font-size: 30px;
    color: white;
    font-weight: 500;
    position: absolute;
    bottom: 60px;
}
.fire {
    background-color: red;
    color: white;
    height: 30px;
}
.water {
    background-color: blue;
    color: white;
    height: 30px;
}
.earth {
    background-color: green;
    color: white;
    height: 30px;
}
.menes {
    border: 1px solid black;
    width: 100px;   
}