body {
  background: rgb(15 , 163 , 107);
  color: rgb(20 , 20 , 20);
  font-family: Arial , Helvetica , sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  width: 100%;
}

h1 , h2 {
  display: inline-block;
}

h3 {
  margin-bottom: 5px;
}

.header {
  background: wheat;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: 3px 3px 4px gray;
  vertical-align: middle;
  width: 100%;
}

.header-left-svg {
  height: 35px;
  margin-right: 5px;
}

.header-right-svg {
  height: 35px;
  margin-left: 5px;
}

.top-center-content {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.input-type-file {
  display: none;
}

.button {
  background-color: rgb(24 , 131 , 113);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: cornflowerblue;
  box-shadow: 0 12px 16px 0 rgba(0 , 0 , 0 , 0.24) , 0 17px 50px 0 rgba(0 , 0 , 0 , 0.19);
}

.btn-fire {
  background-color: red;
}

.btn-water {
  background-color: blue;
}

.btn-earth {
  background-color: green;
}

.input-text {
  background: honeydew;
  border: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  height: 25px;
  margin-left: 8px;
  width: 350px;
}

.container {
  margin: auto;
  text-align: center;
  width: 100%;
}

.main-content {
  display: inline-block;
  margin: 5px;
  text-align: center;
  width: auto;
}

.meme-image-container {
  background: white;
  border: 1px solid black;
  display: inline-block;
  height: 350px;
  position: relative;
  width: 350px;
}

.meme-image {
  height: inherit;
  object-fit: cover;
  width: inherit;
}

.meme-text {
  bottom: 0;
  color: white;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 35px;
  margin: 5px;
  padding: 0;
  position: absolute;
  text-align: left;
  text-shadow: 5px 5px 5px black;
  width: 330px;
  word-wrap: break-word;
}

.div-border-buttons {
  border: 1px solid black;
  border-radius: 30px 5px;
  display: inline-block;
  padding: 15px;
  width: fit-content;
}

.thumbnails {
  border: 1px solid black;
  height: 150px;
  margin: 0;
  width: 150px;
}

.fire-border {
  border: 3px dashed red;
}

.water-border {
  border: 5px double blue;
}

.earth-border {
  border: 6px groove green;
}

.div-thumbnails-container {
  background-color: wheat;
  border: none;
  display: inline-block;
  height: auto;
  margin-top: 60px;
  text-align: center;
  vertical-align: top;
  width: auto;
}

.div-thumbnails-memes {
  margin: 0;
}
