#meme-image-container {
  background-color : white;
  border : 1px solid black;
  width : 500px;
  height : 500px ;
  margin-top : 25px;
  margin-left : 5px;

}

#text-input {
  width : 500px;

}

#meme-text {
  position: absolute;
  font-size : 30px;
  color : white;
  text-shadow: 5px 5px 5px black;

}

#meme-image
{
  width : 100%;
  height : 100%;

}
