.header{
    background-color:rgb(000,000,255);
}

.container{
    background-color:white;
    border:1px solid black;
    width: 500px;
    height: 350px;
    position: relative;
}

#title{
    text-align: center;
    color: rgb(255,255,255);
    font-family: Arial, Helvetica, sans-serif;
}

#meme-text{
    bottom: 10px;
    color:white;
    font-size: 30px;
    max-width: 340px; 
    max-height: 480px;
    padding-left: 10px;
    position: absolute;
    text-shadow: 5px 5px 5px black;
}
        
.meme-image{
    height: 350px;
    width: 500px;
}

.fogo{
    background-color: red;
    border: 3px dashed red;
}
.agua{
    background-color: blue;
    border:5px double blue
}
.terra{
    background-color: green;
    border: 6px groove green;
}
.meme{
    width: 60px;
    height: 60px;
}