#meme-text {
  position: absolute;
  top: 0;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
}

#meme-image-container {
  display: inline-block;
  position: relative;
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
}

#meme-image {
  height: 100%;
  width: 100%;
}
