@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;

}
.label{
    font-weight: 800;
    margin-left: 5px;
    font-size: 20px;
}
#text-input{
    margin-top: 10px;
    
}
.meme-insert{
    margin-top: 15px;
}

.container{
    margin-top: 10px;
    width: 500px;
    height: 600px;

}
.meme-image-container{
    position: relative;
    background-color: white;
    margin-top: 10px;
    border: 1px solid black;
    width: 400px;
    height: 400px;

}
.meme-image{
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 1;
}
.meme-text{
    position: absolute;
    top:80%;
    left:185px;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-weight: 900;
    color: white;
    width: 88%;
    text-shadow: 5px 5px 5px black ;
    z-index: 2;
   

}
.label-styles{
    display: block;
}
.div-buttons{
    margin-top: 10px;

    width: 450px;
    height: 95px;
    display: block;

}

.div-preview-memes{
    display: inline-block;
    text-align: left;
    margin-top: 25px;
    width: 450px;
    height: 110px;
}
.label-mini-memes{
    display: block;
}
.meme1,
.meme2,
.meme3,
.meme4{
    margin-top: 5px;
    margin-left: 10px;
    display: inline-block;
    border: 1px solid black;
    width: 70px;
    height: 70px;
}
.buttons{
    margin-top: 10px;
    width: 100px;
    height: 40px;
    margin-left: 10px;
    font-weight: 900;
    font-size: 20px;
} 
.fire{
    border: 3px dashed red;
    background-color: rgb(255, 0, 0);
}

.water{
    border: 5px double blue;
    background-color: rgb(0, 0, 255);

}

.earth{
    border: 6px groove green; 
    background-color: rgb(0, 128, 0);

}