body {
  background-image: url("https://wallpapercave.com/wp/wp3263654.jpg");
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.principal {
  border-style: rgb(14, 10, 10);
  width: 50%;
  height: 90%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}

header {
  background-color: rgb(175, 18, 18);
  width: 100%;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

section {
  background-color: #fff;
  margin-top: 10px;

  /** opacity: 0.8;**/
}

footer {
  background-color: rgb(175, 18, 18);
  width: 100%;
  height: 40px;
  padding: 0, 1px;
  clear: both;
}

.inputs {
  align-content: center;

  padding: 10px;
}
.meme-image-container {
  height: 300px;
  
  width: 300px;
  background-color: white;
  position: relative;
  margin: auto;
 
}
.meme-image {
  
  height: 100%;
  width: 100%;
  background-color: white;
  align-items: center;
  
  
  
}
.meme-text{
  color: white;
  font-family: Impact, sans-serif;
  font-size: 30px;
  position: absolute;
  text-shadow: 5px 5px 5px black;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  bottom: 0;

}

.memesProntos {
  margin: auto;
  padding: 10px;
  background-color:white;
}
.memeP {
  height: 150px;
  width: 150px;
  border-radius: 5px;
  
}

container {
  width: 70%;
  margin: auto;
}
container div {
  margin: 20px 0px;
}
div input[type="text"],
div input[type="file"] {
  width: 80%;
  padding: 10px;
}

.botoes {
  width: 70%;
  margin: auto;
  padding: 20px;
  text-align: center;
}

button {
  border: none;
  padding: 10px 25px;
  color: white;
}

button.fire {
  background-color: rgb(255, 0, 0);
}
button.water {
  background-color: rgb(0, 0, 255);
}
button.earth {
  background-color: rgb(0, 128, 0);
}

button:hover {
  background-color: rgb(0, 8, 10);
  cursor: pointer;
  border-radius: 5px;
}

.default-border {
  border: solid 1px black;
}

.fire-border {
  border: 3px dashed red;
}

.water-border {
  border: 5px double blue;
}

.earth-border {
  border: 6px groove green;
}





