#meme-image-container {
  background-color : white;
  border : 1px solid black;
  width : 500px;
  height : 500px ;
  position : relative;
  box-sizing: border-box;
  z-index: 0;
}

#text-input {
  display: block;
  width : 500px;
  height: 30px;
  box-sizing: border-box;
  text-align: center;
  border : 0px;
  background-color: rgba(93, 145, 134, 0.418);
  margin-top: 30px;
}

#meme-text {

  text-align: center;
  position : absolute;
  font-size : 30px;
  color : white;
  text-shadow: 5px 5px 5px black;
  word-break: break-all;
  z-index: 2;

}

#meme-image{
  position : absolute;
  z-index: 1;
  width : 100%;
  height : 100%;

}

/*.memeStar{}
.theme{}
#fire{
  border : 3px dashed red;
}

#water{
  border : 5px double blue;
}

#earth{
  border : 6px groove green;
}
*/