
/** padronizaçao global -Começa aqui **/
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial; 
  }
 /** padronizaçao global - Termina aqui **/  
	 
  .principal{
    background-color: #ccc; 
    width: 1200px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;  
  }
   
  header{
    background-color: #fff;
    width: 1200px;
    height: 200px;
  }
   
  nav{
    background-color: #fff;
    margin-top: 10px;
    width: 1200px;
    height: 50px;
  }
   
  section{
    background-color: #fff;
    margin-top: 10px;
    width: 900px;
    height: 500px;
    float: left;
  }
   
  aside{
    background-color: #fff;
    width: 290px;
    margin-top: 10px;
    height: 500px;
     float: left;
    margin-left: 10px;
    margin-bottom: 10px;
  }
   
  footer{
    background-color:  #fff;
    width: 1200px;
    height: 60px;
    clear:  both;
  }