body{
    background-color: #B0C4DE;
}
#container{
    position: absolute;
    height: 630px;
    background-color: #A9A9A9;
    left: 230px;
    width: 600px;
}
.meme-image{
    background-color: rgb(95 , 75 , 102);
    box-shadow: 0 0 3px white;
    float: left;
    margin-bottom: 100px;
    margin-top: 20px;
    padding: 20px;
    width: 480px;
    left: 10px;
}
#inputs{
    position: absolute;
    top: 50px;
    left: 60px;
}
p{
    position: absolute;
    top: 300px;
    left: 100px;
}
.meme-image-container{
    position: absolute;
    background-color: white;
    border: 1px black solid;
    width: 520px;
    height: 500px;
    top: 100px;
    left: 40px;
}
#meme-image-container{
    position: absolute;

}



