body {
  background-color: rgb(231, 231, 231);
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  text-align: center;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin: 0px;
  padding: 20px;
}

header {
  background-color: rgb(12, 5, 75);
  margin: 0px;
}

input, textarea{
  display: block;
  margin: auto;
  padding: 10px;
  resize: none;
}

.imgmeme {
  position: relative;
  width: 300px;
  height: 300px;
  z-index: 0;
  margin: 0px;
}

p {
  margin: 0px;
  text-align: center;
}

.input {
  padding: auto;
}

.meme-container {
  margin: 50px auto;
  display: block;
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

.meme-text {
  display: block;
  position: absolute;
  width: 300px;
  height: 120px;
  top: 415px;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
  font-size: 30px;
  color: rgb(255, 255, 255);
  word-wrap: break-word;
}

.presets-image {
  position: relative;
  width: 398px;
  margin: auto;
  padding: 0px auto;
}

.button {
  margin: 0px 20px;
  width: 90px;
  height: 40px;
  font-weight: 800;
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px black;
}

.button#fire {
  background-color: rgb(255, 0, 0);
}
.button#water {
  background-color: rgb(0, 0, 255);
}
.button#earth {
  background-color: rgb(0, 128, 0);
}

.sample-img {
  width: 100px;
  display: block;
  margin: 10px auto;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.preset-meme {
  position: absolute;
  top: 130px;
  left: 70%;
  text-align: center;
  text-shadow: 1px 2px 2px rgb(12, 5, 75);
  color: rgb(0, 0, 0);
}
