    img {
        height: 100%;
        width: 100%;
    }
    
    h1 {
        color: blue;
        font-size: 80px;
    }
    
    p {
        color: blue;
        font-size: 30px;
    }
    
    #meme-image-container {
        background-color: white;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        height: 450px;
        margin: auto;
        width: 700px;
    }
    
    #meme-image {
        background-color: white;
        border: 1px solid black;
        height: 448px;
        position: relative;
        width: 698px;
    }
    
    #meme-text {
        color: white;
        font-size: 30px;
        margin: 20px;
        max-width: 100%;
        position: relative;
        top: -465px;
        text-shadow: 5px 5px 5px black;
        word-wrap: break-word;
        border-top: 10px;
        border-bottom: 10px;
        border-left: 10px;
        border-right: 10px;
    }
    
    body {
        background: url(https://super.abril.com.br/wp-content/uploads/2019/09/fotosvencedora.png);
        background-size: 100%;
    }